extends layout

block content
  .container
    h1= title
    .user-info
    ul.list-group
      if user
        li.list-group-item= `欢迎，${user.username}`
          a(href="/logout", class="float-right") 登出
        li.list-group-item
          a(href="/sites/addSite") 添加站点
        li.list-group-item
          a(href="/sites/siteDetail") 站点操作(查(R)、改(U)、删(D))          
      else
        li.list-group-item
          a(href="/register") 注册
        li.list-group-item
          a(href="/login") 登录
