extends layout

block content
  .container.registerPage
    h1= title
    p
      a(href="/") 首页
    form
      .form-group
        label 请上传头像
        .form-text
          img.avatar(src="/images/avatarPlaceholder.png", id="avatar")
        input(name="avatar", class="form-control-file", type="file", id="avatarInput")
      .form-group
        label 请输入用户名
        input(name="username", class="form-control" id="username")
      .form-group
        label 请输入密码
        input(name="password", class="form-control" id="password", type="password")
      .form-group
        label.captchaLabel
          = '请输入验证码'
          img(src="/getCaptcha", alt="captcha", id="captcha")
        input(name="captcha", id="captchaInput" class="form-control")
      .form-group
        button(type="submit", id="submitBtn", class="btn btn-info") 注册
      script.
        $(function(){
          $('#submitBtn').on('click', function(e){
            // 表单验证
            if(!$('#avatar').data('avatar')){
              alert('头像不能为空');
              return false;
            }else if(!$('#username').val().replace(/^\s*|\s*$/g,'')){
              alert('用户名不能为空');
              return false;
            }else if(!$('#password').val().replace(/^\s*|\s*$/g,'')){
              alert('密码不能为空');
              return false;
            }else if(!$('#captchaInput').val().replace(/^\s*|\s*$/g,'')){
              alert('验证码不能为空');
              return false;
            }
            e.preventDefault();
            $.ajax({
              url: '/register',
              type: 'POST',
              data: {
                avatar: $('#avatar').data('avatar'),
                username: $('#username').val(),
                password: $('#password').val(),
                captcha: $('#captchaInput').val()
                },
                success: function(result) {
                  alert(result);
                  $('#avatar').data('')
                  $('#username').val('');
                  $('#password').val('');
                  $('#captchaInput').val('');
                  if(result === '验证码错误'){
                    $('#captcha').attr('src', `/getCaptcha?d${Math.random()}`)
                  }
                },
                error: function(err) {
                  alert(err);
                }
              });
            });
          });
          $('#captcha').on('click', function(e) { // 刷新验证码
            $(this).attr('src', `/getCaptcha?d${Math.random()}`)
          });
          $('#avatarInput').on('change', function(e) {
            if(!this.files[0]){
              return false;
            }
            const file = this.files[0];
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function(evt) {
              $('#avatar').data('avatar',evt.target.result).attr('src', evt.target.result);             
            }
          });